@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-family: "PT Serif", serif;
    color: #000;
    max-width: 80%;
    margin: 0 auto;
    font-size: 16px;
}

img {
    width: 100%;
}

.content {
    text-align: center;
    margin: 1em;
    width: 100%;
    display: flex;
    font-family: "Poppins", sans-serif;
}

h1 {
    width: 50%;
    font-weight: 700;
    font-size: 3rem;
    margin-right: 4em;
    display: block;
}

.content-p {
    width: 50%;
    font-size: 2rem;
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.profiles {
    padding: 2em;
}

.profile2,
.profile5 {
    padding: 5em 2em 0 2em;
    top: 1em;
}

.profiles p {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

span {
    position: absolute;
    writing-mode: vertical-lr;
    font-family: "PT Serif", serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.25em;
    text-transform: uppercase;
}

footer {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 3em;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    h1 {
        width: 100%;
        text-align: left;
    }
    .content-p {
        width: 100%;
        margin-bottom: 5rem;
    }
    .headline-p {
        margin-bottom: 1rem;
    }
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .profiles p {
        font-size: 1rem;
    }
    .profile4 {
        padding: 5em 2em 0 2em;
        top: 1em;
    }
    .profile6 {
        padding: 8em 2em 0 2em;
        top: 1em;
    }
    span {
        display: inline;
    }
    footer {
        margin-top: 5rem;
    }
}